@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
  --clr-black: #000000;
  --clr-gray: #ececec;
  --clr-white: #f7f7f7;

  --type-normal: #A8A878;
  --type-fire: #F08030;
  --type-water: #6890F0;
  --type-grass: #78C850;
  --type-electric: #F8D030;
  --type-ice: #98D8D8;
  --type-fighting: #C03028;
  --type-poison: #A040A0;
  --type-ground: #E0C068;
  --type-flying: #A890F0;
  --type-psychic: #F85888;
  --type-bug: #A8B820;
  --type-rock: #B8A038;
  --type-ghost: #705898;
  --type-dark: #705848;
  --type-dragon: #7038F8;
  --type-steel: #B8B8D0;
  --type-fairy: #F0B6BC;

  --letra-parrafos: 'Rubik', sans-serif;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--letra-parrafos);
}

li {
  list-style: none;
}

body {
  background-color: rgb(55, 55, 55);
  position: relative;
}

.container {
  max-width: 1100px;
}

/*HEADER*/
header {
  background-color: rgb(75, 75, 75);
  display: flex;
  justify-content: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

header .container {
  padding: 1em;
  padding-bottom: 2em;
  width: 80%;
}

header .nav {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.nav-header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrap-logo {
  width: 15%;
  min-width: 100px;
  max-width: 175px;
}

.wrap-logo img {
  width: 100%;
  object-fit: cover;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: .75em;
  justify-content: center;
}

.btn-header {
  padding: .5em .7em;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: scale .3s, box-shadow .3s, filter .3s;
}

.btn-header:hover {
  scale: 1.085;
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.25);
  filter: saturate(2);
}

.wrap-search {
  display: flex;
  align-items: center;
  gap: .5em;
  color: rgb(179, 179, 0);
  box-shadow: 0 0 15px rgb(0, 0, 25);
  border-radius: 15px;
  filter: saturate(6);
  padding: .25em .75em;
  transition: box-shadow .3s, color .3s;
}
.wrap-search:hover{
  box-shadow: 0 0 17.5px 1px rgb(0, 0, 40);
  color: yellow;
}
.wrap-search:focus{
  box-shadow: 0 0 17.5px 1px rgb(0, 0, 40);
  color: yellow;
}
.wrap-search i {
  font-size: 1.2em;
}

#search {
  background-color: transparent;
  border: none;
  padding: .5em;
  padding-left: .25em;
  font-size: .9em;
  outline: 0;
  color: yellow;
  text-transform: uppercase;
}

#search::placeholder {
  text-transform: none;
}







/*MAIN*/

main {
  padding: 1em;
  padding-top: 2.5em;
  display: flex;
  justify-content: center;
}

main img {
  margin: 20px;
  width: 200px;
  filter: saturate(1.5);
}

main .container{
  width: 100%;
}
#listaPokemon{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 1.5em;
}

.pokemon{
  background-color: rgb(45, 45, 45);
  color: white;
  padding: 0 1em 1.25em;
  border-radius: 20px;
  position: relative;
  height: min-content;
  transition: box-shadow .5s;
  cursor: pointer;
}
.pokemon:hover{
  box-shadow: 0 0 12px .5px white;
}

.pokemon-id-back{
  position: absolute;
  top: 5%;
  text-align: center;
  color: rgba(75, 75, 75, 0.23);
  width: 91%;
  font-size: 7rem;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 900;
}

/*img*/
.pokemon-img{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemon-img img{
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-width: 120px;
}
/*******************************/

/*info*/
.pokemon-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .75em;
  margin-top: -1em;
}
.nombre-contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 900;

}
.pokemon-nombre{
  font-weight: 600;

}
.pokemon-id{
  font-size: .86em;
  font-weight: 600;
}
.pokemon-info .pokemon-id, 
.pokemon-info .stat{
  background-color: rgba(75, 75, 75, 0.6);
  padding: .2em .7em;
  border-radius: 10px;
}
.pokemon-tipos{
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
  width: 100%;
  justify-content: center;
}
.tipo{
  padding: .25em .5em;
  border-radius: 20px;
  font-size: .85em;
  font-weight: 600;
}

.pokemon-stats{
  display: flex;
  gap: 1em;
  text-transform: uppercase;
  font-size: .75em;
}

.pokemon-info img{
  max-width: 35px;

}



/*CARD POKEMON DETALLADA*/
.cardPokemon{
  position: fixed;
  width: 40%;
  max-width: 600px;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  z-index: 3500;
  padding: 1em;
  border-radius: 20px;
}
.back-detail_click{
  background-color: rgba(255, 0, 0, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  z-index: 3000;
}
.bi-x-circle{
  position: absolute;
  top: 23px;
  right: 23px;
  font-size: 1.9em;
  cursor: pointer;
  transition: color .3s, scale .3s;
}
.bi-x-circle:hover{
  color: rgb(29, 18, 18);
  scale: 1.1;
}
.card-header{
  border-radius: 20px;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card-header .stat{
  font-size: 1.5em;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 900;
  text-align: center;
  line-height: 0.9;

}
.card-header img{
  height: 100%;
  width: auto;
  object-fit: cover;
}
.wrap-stat{
  display: flex;
  height: 50%;
  width: 20%;
  justify-content: space-around;
  align-items: center;
  gap: 0em;
}
.wrap-stat img{
  height: 100%;
  width: min-content;
  object-fit: contain;
}
.height{
  transform: scale(.8, .95);
}

/**************************************************/


/*FONDO BLUR*/
.blurLarge{
  background-color: rgba(82, 82, 82, 0.3);
  backdrop-filter: blur(8px);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 3200;
  transition: all .5s;
}
.hidden{
  display: none;
}
/**************************************************/



/*COLORES DE LOS POKEMONES POR TIPO*/
.normal {
  background-color: var(--type-normal);
  color: var(--clr-black);
}

.fire {
  background-color: var(--type-fire);
  color: var(--clr-black);
}

.water {
  background-color: var(--type-water);
  color: var(--clr-white);
}

.grass {
  background-color: var(--type-grass);
  color: var(--clr-black);
}

.electric {
  background-color: var(--type-electric);
  color: var(--clr-black);
}

.ice {
  background-color: var(--type-ice);
  color: var(--clr-black);
}

.fighting {
  background-color: var(--type-fighting);
  color: var(--clr-white);
}

.poison {
  background-color: var(--type-poison);
  color: var(--clr-white);
}

.ground {
  background-color: var(--type-ground);
  color: var(--clr-black);
}

.flying {
  background-color: var(--type-flying);
  color: var(--clr-black);
}

.psychic {
  background-color: var(--type-psychic);
  color: var(--clr-black);
}

.bug {
  background-color: var(--type-bug);
  color: var(--clr-black);
}

.rock {
  background-color: var(--type-rock);
  color: var(--clr-black);
}

.ghost {
  background-color: var(--type-ghost);
  color: var(--clr-white);
}

.dark {
  background-color: var(--type-dark);
  color: var(--clr-white);
}

.dragon {
  background-color: var(--type-dragon);
  color: var(--clr-white);
}

.steel {
  background-color: var(--type-steel);
  color: var(--clr-black);
}

.fairy {
  background-color: var(--type-fairy);
  color: var(--clr-black);
}